{{>tals/navigation}}

<div class="container">
    <p>
    <h3>{{# str }} label_date, tals {{/ str }}</h3>
    </p>
    <table id="tabelle" class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">{{# str }} label_id, tals {{/ str }}</th>
            <th scope="col">{{# str }} label_name, tals {{/ str }}</th>
            <th scope="col">{{# str }} label_description, tals {{/ str }}</th>
            <th scope="col">{{# str }} label_start, tals {{/ str }}</th>
            <th scope="col">{{# str }} label_end, tals {{/ str }}</th>
            <th scope="col">{{# str }} label_duration, tals {{/ str }}</th>
            <th scope="col">{{# str }} label_type, tals {{/ str }}</th>
            <th scope="col">Pin</th>
            <th scope="col">Info</th>
            <th scope="col">{{# str }} label_edit, tals {{/ str }}</th>
        </tr>
        </thead>

        <tbody>
        {{#entries}}
            <tr id="row{{id}}">
            <th scope="row">{{id}}</th>
            <td>
                <a href={{{reportdetailurl}}}>'{{title}}</a>
            </td>
            <td>{{description}}</td>
            <td>{{startdate}}</td>
            <td>{{enddate}}</td>
            <td>{{duration}} {{# str}} label_minute, tals {{/str}}</td>
            <td>{{type}}</td>
            <td >
                {{#haspin}}
                    {{#pinactive}}
                        <button type="button" class="btn  btn-default" data-toggle="modal" data-target="#pinModal{{id}}">{{#str}}label_show, tals{{/str}}</button>

                        <!-- Modal -->
                        <div id="pinModal{{id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1>{{title}}</h1>
                                    </div>
                                    <div class="modal-body text-center">
                                        <h1>{{#str}}label_pin, tals{{/str}}: {{pin}}</h1>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{{#str}}label_close, tals{{/str}}</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    {{/pinactive}}
                    {{^pinactive}}
                        <a class="btn btn-default" href={{{enablepinurl}}}>{{#str}}label_activate, tals{{/str}}</a>
                    {{/pinactive}}
                {{/haspin}}
            </td>
            <td>
                {{#haspin}}
                    {{#pinactive}}
                        {{#str}}label_until, tals{{/str}} {{pinuntildate}} {{#str}}label_hour, tals{{/str}}
                    {{/pinactive}}

                    {{^pinactive}}
                        {{#str}}label_pin_not_enabled, tals{{/str}}
                    {{/pinactive}}
                {{/haspin}}
            </td>
            <td>
                <a  href={{{changeurl}}}><img src="pix/edit.png" alt="{{#str}}label_trash, tals{{/str}}" height="15" width="15"></a>
                <a href="#deleteModal{{id}}" role="button" data-toggle="modal">
                    <img src="pix/trash.png" alt="{{#str}}label_edit, tals{{/str}}" height="15" width="15">
                </a>
                <div id="deleteModal{{id}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1>{{title}}</h1>
                            </div>
                            <div class="modal-body text-center">
                                {{#str}}delete_appointment_question{{/str}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" onclick="deleteAppointment('{{{deleteurl}}}',{{id}})">{{#str}}label_trash, tals{{/str}}</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">{{#str}}label_close, tals{{/str}}</button>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        {{/entries}}
        </tbody>
    </table>
</div>

<script>
    function deleteAppointment(url, id) {
        $.getJSON(url, function (data) {
            if(data["deletedLog"] && data["deletedAppointment"]) {
                if((data["hadPin"] && data["deletedPin"]) || !data["hadPin"]) {
                    console.log("Deleted appointment " + id);
                    $('#row'+id).remove();
                }
            } else {
                console.log("Could not delete appointment " + id);
                console.log(data);
            }
            $('#deleteModal'+id).modal('hide');
            $(".modal-backdrop").remove();
        });
    }
</script>