<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item" >
            <a class="nav-link {{^manageurl}} active {{/manageurl}} "  {{#manageurl}} href="{{manageurl}}" {{/manageurl}}>{{# str }} label_header_date, tals {{/ str }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  {{^addurl}} active {{/addurl}} "  {{#addurl}} href="{{addurl}}" {{/addurl}}>{{# str }} label_header_add, tals {{/ str }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  {{^reporturl}} active {{/reporturl}} "  {{#reporturl}} href="{{reporturl}}" {{/reporturl}}>{{# str }} label_header_report, tals {{/ str }}</a>
        </li>
    </ul>
</div>