/*
#tabelle {
    font-size: 13px;
    border-collapse: collapse;
    width: 100%;
}

#tabelle td {
    border: 1px solid #ddd;
    padding: 8px;
}

#tabelle th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333;
    color: white;
}

tr:hover {
    background-color: #ccc;
}

.rahmen {
    border: 1px solid #ddd;
    padding: 4px;
    margin: 5px;
    padding-top: 10px;
}

.description {
    display:inline;
}

.description_cell {
    width:150px;
}

#liste {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.element {
    float: left;
}

.element a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.element a:hover {
    background-color: #111;
}

#li_active {
    background-color: #80ba24;
}

#li_active a:hover {
    background-color: #80ba24;
}

.signlight {
    text-align: center;
    width: 6%;
}

.light {
    width: 8px;
    height: 8px;
}

#textfeld {
    width: 250px;
    height: 100px;
}

#pin {
    width: 40px;
}

#alertBox{
    background-color: #F78181;
    margin:0 auto;
    border: solid 1px #DF0101;
    padding: 10px;
    text-align: center;
    height: -moz-fit-content;
    width: -moz-fit-content;
    border-radius: 5px;
}

#buttonBox {
    text-align: right;
}

#buttonDelete {
    width:49%;
}

#buttonCancel {
    width: 49%;
}

.text {
    font-family: arial;
}

.cell {
    text-align: center;
}

#edit {
    margin-top: 2em;
}*/
