body {
    padding: 0;
    margin: 0;
}
.footer {
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 160px;
    background-color: rgba(0, 0, 0, 0.925);
    color: gainsboro;
}
.gray {
    background-color: rgba(0, 0, 0, 0.05);
}
.custombutton {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border-color: black;
    border: 2px solid black;
    border-radius: 1px;
    padding: 5px;
    width: 120px;
    height: 40px;
}
.custombutton:hover {
    background-color: white;
}
.contribute a {
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}
.contribute span {
    margin-left: 5px;
}
.custombutton img {
    height: 30px;
}
.contribute {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    min-height: 250px;
}
.contribute div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.contribute div a {
    margin: 10px;
}
.description {
    padding: 20px;
    min-height: 80px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.description div {
    text-align: center;
}
.description .getapp {
    padding: 20px;
    min-height: 80px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.storeicon {
    width: 130px;
}
.storeicon {
    height: 40px;
}

.banner {
    margin-top:100px;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 360px;
    min-height: 360px;
}

.presentation {
    margin: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.presentation img {
    padding: 5px;
}
.presentation div {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    padding: 15px
}

.presentation div div {
    max-width: 400px;
}

#app-pic {
    background-position:center;
    height: 200px; 
    width: 200px;
    background-size:contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url("./tals-logo.png");
}