<div class="container">
    <nav class="navbar navbar-expand-md">
        <li class="nav-item list-unstyled" >
            <a>{{# str }} label_header_date, tals {{/ str }}</a>
        </li>
        <li class="nav-item list-unstyled">
            <a class="nav-link" href="{{add}}">{{# str }} label_header_add, tals {{/ str }}</a>
        </li>
        <li class="nav-item list-unstyled">
            <a class="nav-link" href="{{report}}">{{# str }} label_header_report, tals {{/ str }}</a>
        </li>
    </nav>
</div>

<div id="Termin" class="container">
    <p>
    <h3>{{# str }} label_date, tals {{/ str }}</h3>
    </p>
    <table id="tabelle" class="table">
        <thead>
        <tr>
            <th>{{# str }} label_id, tals {{/ str }}</th>
            <th>{{# str }} label_name, tals {{/ str }}</th>
            <th>{{# str }} label_description, tals {{/ str }}</th>
            <th>{{# str }} label_start, tals {{/ str }}</th>
            <th>{{# str }} label_end, tals {{/ str }}</th>
            <th>{{# str }} label_duration, tals {{/ str }}</th>
            <th>{{# str }} label_type, tals {{/ str }}</th>
            <th>{{# str }} label_edit, tals {{/ str }}</th>
        </tr>
        </thead>
    </table>
</div>