{{>tals/navigation}}
<div class="container">
    <h3 class="float-left">{{#str}}label_reportdetail, tals{{/str}}</h3>
    <div class="row float-right">
            <h3>{{#str}}label_count, tals{{/str}}: {{count}}</h3>
    </div>
    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">{{#str}}label_name, tals{{/str}}</th>
            <th scope="col">{{#str}}label_email, tals{{/str}}</th>
            <th scope="col">{{#str}}label_status, tals{{/str}}</th>
            <th scope="col">{{#str}}label_net, tals{{/str}}</th>
            <th scope="col">{{#str}}label_comment, tals{{/str}}</th>
            <th scope="col">{{#str}}label_edit, tals{{/str}}</th>
        </tr>
        </thead>
        <tbody>
        {{#entries}}
            <tr>
                <td>
                    <a href="{{{profileurl}}}">
                        {{firstname}} {{lastname}}
                    </a>
                </td>
                <td>{{email}}</td>
                <td>
                    {{#present}}
                        <img src="pix/gruen.png" alt="{{#str}}label_green, tals{{/str}}">
                    {{/present}}
                    {{^present}}
                        {{#excused}}
                            <img src="pix/gelb.png" alt="{{#str}}label_yellow, tals{{/str}}">
                        {{/excused}}
                        {{^excused}}
                            <img src="pix/rot.png" alt="{{#str}}label_red, tals{{/str}}">
                        {{/excused}}
                    {{/present}}
                </td>
                <td>
                    {{#internal}}
                        <img src="pix/mnethost-internal.png" alt="{{#str}}label_green, tals{{/str}}" height="15"
                             width="15">
                    {{/internal}}
                    {{^internal}}
                        {{#vpn}}
                            <img src="pix/mnethost-vpn.png" alt="{{#str}}label_yellow, tals{{/str}}" height="15"
                                 width="15">
                        {{/vpn}}
                        {{^vpn}}
                            <img src="pix/mnethost-external.png" alt="{{#str}}label_red, tals{{/str}}" height="15"
                                 width="15">
                        {{/vpn}}
                    {{/internal}}
                </td>
                <td>{{comment}}</td>
                <td>
                    <a href="{{{editurl}}}">
                        <img src="pix/edit.png" alt="{{#str}}label_edit, tals{{/str}}" height="12" width="12">
                    </a>
                </td>
            </tr>
        {{/entries}}
        </tbody>
    </table>
    <p>{{#str}}label_legend, tals{{/str}}<br>
        <img class="light" src="pix/gruen.png" alt="green"> {{#str}}Present_full, tals{{/str}}<br>
        <img class="light" src="pix/gelb.png" alt="yellow"> {{#str}}Excused_full, tals{{/str}}<br>
        <img class="light" src="pix/rot.png" alt="red"> {{#str}}Absent_full, tals{{/str}}<br>
        <img src="pix/mnethost-internal.png" alt="yellow" height="15" width="15"> {{#str}}label_net_green, tals{{/str}}<br>
        <img src="pix/mnethost-vpn.png" alt="yellow" height="15" width="15"> {{#str}}label_net_blue, tals{{/str}}<br>
        <img src="pix/mnethost-external.png" alt="yellow" height="15" width="15"> {{#str}}label_net_grey, tals{{/str}}
    </p>
</div>