{{>tals/navigation}}

<div class="container">
    <div>
        <h3 class="float-left inline">{{#str}}label_report, tals{{/str}}</h3>
        <p class="float-right inline"><a href="{{downloadurl}}" target=_blank><img src="pix/download_all.png" alt="{{#str}}label_download, tals{{/str}}" height="20" width="20" title="{{#str}}label_download_title, tals{{/str}}"></a></p>
    </div>

    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">{{#str}}label_id, tals{{/str}}</th>
            <th scope="col">{{#str}}label_name, tals{{/str}}</th>
            <th scope="col">{{#str}}label_description, tals{{/str}}</th>
            <th scope="col">{{#str}}label_start, tals{{/str}}</th>
            <th scope="col">{{#str}}label_end, tals{{/str}}</th>
            <th scope="col">{{#str}}label_duration, tals{{/str}}</th>
            <th scope="col">{{#str}}label_type, tals{{/str}}</th>
            <th scope="col">{{#str}}label_count, tals{{/str}}</th>
        </tr>
        </thead>
        <tbody>
        {{#entries}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>
                <a href="{{detailurl}}">
                    {{title}}
                </a>
            </td>
            <td>{{description}}</td>
            <td>{{startdate}}</td>
            <td>{{enddate}}</td>
            <td>{{duration}} {{#str}}label_minute, tals{{/str}}</td>
            <td>{{type}}</td>
            <td align="center">{{presentcount}} / {{logcount}}</td>
        </tr>
        {{/entries}}
        </tbody>
    </table>
</div>