<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link  {{^attendanceurl}} active {{/attendanceurl}} "  {{#attendanceurl}} href="{{attendanceurl}}" {{/attendanceurl}}>{{# str }} label_myattendance, tals {{/ str }}</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link {{^profileoverviewurl}} active {{/profileoverviewurl}} "  {{#profileoverviewurl}} href="{{profileoverviewurl}}" {{/profileoverviewurl}}>{{# str }} label_courseoverview, tals {{/ str }}</a>
        </li>

    </ul>
</div>